src/main/resources/META-INF/maple.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://maple-springtag.dapeng.com/schema/maple"
            targetNamespace="http://maple-springtag.dapeng.com/schema/maple"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="bean" type="fieldType"/>
    <xsd:complexType name="fieldType">
        <xsd:attribute name="id" type="xsd:ID" use="optional"/>
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="ref" type="xsd:string"/>
    </xsd:complexType>

</xsd:schema>